<div class="container">
    <br><br><br>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <form>
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br>

            <label for="status">Status:</label><br>
            <input type="text" id="status" name="status">

            <label for="species">Species:</label><br>
            <input type="text" id="species" name="species">

            <label for="gender">Gender:</label><br>
            <input type="text" id="gender" name="gender">

            <label for="origin">Origin:</label><br>
            <input type="text" id="origin" name="origin">

            <label for="image">Image:</label><br>
            <input type="text" id="image" name="image">

            <br><br>

            <button class="btn btn-primary" (click)="addcharacter()">Add character</button>
        </form>

        
  </div>
</div>