<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <h1 class="ml-5 mr-5" style="text-align: center; margin-right: 1rem; margin-left: 1rem; margin-bottom: 2rem;">The Movie Database Application!</h1>


    <h3 style="text-align: center; margin-right: 1rem; margin-left: 1rem; margin-bottom: 2rem; font-weight: lighter">🚀 Features</h3>
    <br><br><br><br>


    <h4 style="text-align: center; margin-right: 1rem; margin-left: 1rem; font-weight: lighter;">* Follows <a href="https://www.themoviedb.org/">TMDB</a>'s v3 API Specs</h4>
    <h4 style="text-align: center; margin-right: 1rem; margin-left: 1rem; font-weight: lighter; margin-bottom: 2rem;">* Generates session_id automatically in coordination with the API for perfect integration!</h4>

    <br><br><br><br>
    <p style="text-align: center; margin-right: 1rem; margin-left: 1rem; font-weight: lighter">
        Made with 🤍 using <a href="https://angular.io/">Angular</a>, <a href="https://getbootstrap.com/">Bootstrap</a>
        and <a href="https://www.themoviedb.org/">The Movie Database API</a>
    </p>

    <br><br><br><br>
    <p style="text-align: center; margin-right: 1rem; margin-left: 1rem; font-weight: lighter">- <a href="https://github.com/cakehonolulu">Joel Bueno (2022)</a></p>


</div>