<div class="card-body">
    <br>
    <h5 class="card-title">PDF</h5>
    <br>
    <div>
        <div class="btn-group w-100">
            <form [formGroup]="formSearch" #f="ngForm">
                <select class="form-select form-select-lg mb-3 " [(ngModel)]='default' (change)="onChange(f)"
                    formControlName="options" style="width: 150px; background-color: aliceblue;">
                    <option value="select">Option</option>
                    <option value="all">All Pdfs</option>
                    <option value="id">ID</option>
                    <option value="title">Title</option>
                    <option value="user">User Id</option>
                </select>
            </form>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="{{valuePlaceholder}}"
                    aria-label="Recipient's username" aria-describedby="button-addon2" id="inputP">
                <button class="btn btn-primary" type="button" id="button-addon2" *ngIf="valuePlaceholder=='id'"
                    (click)="seeById();">Search</button>
                <button class="btn btn-primary" type="button" id="button-addon2" *ngIf="valuePlaceholder=='title'"
                    (click)="seeByTitle();">Search</button>
                <button class="btn btn-primary" type="button" id="button-addon2" *ngIf="valuePlaceholder=='user'"
                    (click)="seeByUser();">Search</button>
                <button class="btn btn-primary" type="button" id="button-addon2" *ngIf="valuePlaceholder=='all'"
                    (click)="seeAll();">Search</button>
            </div>

        </div>
        <br><br>

        <div style="overflow-x: auto;">
            <table class="table table-striped table-bordered border-primary " id="tb-pdfs">
                <thead>
                    <tr style="background-color: rgb(173, 205, 234);">
                        <th scope="col">ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Src</th>
                        <th scope="col">Title</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let t of pdfs">
                        <th scope="row">{{t.id}}</th>
                        <td>{{t.fechaCreacion}}</td>
                        <td>{{t.src}}</td>
                        <td>{{t.titulo}}</td>
                        <td>
                            <table>
                                <th> <button type="button" class="btn btn-danger" scope="col" (click)="delete(t.id);"><i
                                            class="bi bi-trash-fill"></i></button></th>
                                <th> <button type="button" class="btn btn-warning" scope="col" (click)="download(t.id);"><i
                                            class="bi bi-download"></i></button>
                                </th>
                                <th> <button type="button" class="btn btn-success" scope="col" (click)="view(t.id);"><i
                                            class="bi bi-eye-fill"></i></button>
                                </th>

                            </table>

                        </td>
                    </tr>


                </tbody>
            </table>
            <table class="table table-striped table-bordered border-primary " id="tb-id">
                <thead>
                    <tr style="background-color: rgb(173, 205, 234);">
                        <th scope="col">ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Src</th>
                        <th scope="col">Title</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{pdf?.id}}</th>
                        <td>{{pdf?.fechaCreacion}}</td>
                        <td>{{pdf?.src}}</td>
                        <td>{{pdf?.titulo}}</td>
                        <td>
                            <table>
                                <th> <button type="button" class="btn btn-danger" scope="col"  (click)="delete(pdf?.id);"><i
                                            class="bi bi-trash-fill"></i></button></th>
                                <th> <button type="button" class="btn btn-warning" scope="col"  (click)="download(pdf?.id);"><i
                                            class="bi bi-download"></i></button>
                                </th>
                                <th> <button type="button" class="btn btn-success" scope="col" (click)="view(pdf?.id);"><i
                                            class="bi bi-eye-fill"></i></button>
                                </th>

                            </table>

                        </td>
                    </tr>


                </tbody>
            </table>
            <table class="table table-striped table-bordered border-primary " id="tb-title">
                <thead>
                    <tr style="background-color: rgb(173, 205, 234);">
                        <th scope="col">ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Src</th>
                        <th scope="col">Title</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let t of pdfs">
                        <th scope="row">{{t.id}}</th>
                        <td>{{t.fechaCreacion}}</td>
                        <td>{{t.src}}</td>
                        <td>{{t.titulo}}</td>
                        <td>
                            <table>
                                <th> <button type="button" class="btn btn-danger" scope="col"  (click)="delete(t.id);"><i
                                            class="bi bi-trash-fill"></i></button></th>
                                <th> <button type="button" class="btn btn-warning" scope="col"  (click)="download(t.id);"><i
                                            class="bi bi-download"></i></button>
                                </th>
                                <th> <button type="button" class="btn btn-success" scope="col"  (click)="view(t.id);"><i
                                            class="bi bi-eye-fill"></i></button>
                                </th>

                            </table>

                        </td>
                    </tr>


                </tbody>
            </table>
            <table class="table table-striped table-bordered border-primary " id="tb-user">
                <thead>
                    <tr style="background-color: rgb(173, 205, 234);">
                        <th scope="col">ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Src</th>
                        <th scope="col">Title</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let t of pdfs">
                        <th scope="row">{{t.id}}</th>
                        <td>{{t.fechaCreacion}}</td>
                        <td>{{t.src}}</td>
                        <td>{{t.titulo}}</td>
                        <td>
                            <table>
                                <th> <button type="button" class="btn btn-danger" scope="col"  (click)="delete(t.id);"><i
                                            class="bi bi-trash-fill"></i></button></th>
                                <th> <button type="button" class="btn btn-warning" scope="col"  (click)="download(t.id);"><i
                                            class="bi bi-download"></i></button>
                                </th>
                                <th> <button type="button" class="btn btn-success" scope="col" (click)="view(t.id);"><i
                                            class="bi bi-eye-fill"></i></button>
                                </th>

                            </table>

                        </td>
                    </tr>


                </tbody>
            </table>
            <!--paginación -> la hacemos con module de angular,pero por ahora para la vista, pongo esta-->
        </div>


    </div>


</div>