<div class="container">
    <div class="card mt-4">
        <div class="card-body" *ngIf="pdfs!=null else espera" style="overflow-x: auto;">
            <table class="table table-striped  " id="tb" >
                <thead>
                    <tr style="background-color: rgb(173, 205, 234);">
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Date</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of pdfs">
                        <th scope="row" style="background-color: rgb(173, 205, 234);">{{p.id}}</th>
                        <td>{{p.titulo}}</td>
                        <td>{{p.fechaCreacion}}</td>
                        <td>
                            <button type="button" class="btn btn-success" (click)="viewPdf(p.id);"><i class="bi bi-eye-fill"></i></button>
                            <button type="button" class="btn btn-warning" (click)="downloadPdf(p.id);"><i class="bi bi-download"></i></button>
                            <button type="button" class="btn btn-danger" (click)="deletePdf(p.id);"><i class="bi bi-trash3-fill"></i></button>

                        </td>
                    </tr>


                </tbody>
            </table>

        </div>
    </div>
</div>
<ng-template #espera>Loading Pdfs ....</ng-template>