<app-top-admin></app-top-admin>

<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="mb-5 mb-lg-0 text-center text-lg-start">

                </div>
            </div>
        </div>
    </div>
</header>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card" id="card_components">
                <div class="card-body">
                    <div class="card-title">
                        <h5>Components</h5>
                    </div>
                    <ul style="list-style: none;">
                        <li><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#title-template" value="">Title</button></li>
                        <br>
                        <li><button class="btn btn-primary">Subtitle</button></li><br>
                        <li><button class="btn btn-primary">Text</button></li><br>
                        <li><button class="btn btn-primary">Separator</button></li><br>
                        <li><button class="btn btn-primary">Line Separator</button></li><br>
                        <li><button class="btn btn-primary">Image</button></li><br>
                        <li><button class="btn btn-primary">Link</button></li><br>


                    </ul>
                </div>
            </div>
        </div>

        <div class="col-8">
            <div class="card">
                <div class="card-body" style="background-color:#99b8cc ;">
                    <div class="card">
                        <div class="card-body" style="width:400px ; height:550px;">
                            <app-create-new-template [message]="messageFromParent"></app-create-new-template>
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-success rounded-pill">Save</button>
                </div>
            </div>
        </div>
    </div>

</div>

<br>

  
  <!-- Modal title template-->
  <div class="modal fade" id="title-template" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Write a title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input type="text" id="title-tem" class="form-control">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" id="paramsOkay" class="btn btn-primary" data-bs-dismiss="modal" (click)="title();">Save changes</button>
        </div>
      </div>
    </div>
  </div>