<div class="container" >
    <div class="card background" >
        <div>
            <section id="features">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
                            <div class="container-fluid px-5 mb-padding">
                                <div class="row gx-5">
                                    <div class="col-md-6 mb-5">
                                        <div class="text-center">
                                            <a (click)="changeTab('user')"> <i
                                                    class="bi bi-person icon-feature text-gradient d-block mb-3"></i></a>
                                            <h3 class="font-alt" style="text-decoration-line: none;">Profile</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-5">
                                        <div class="text-center">
                                            <a (click)="changeTab('templates')"> <i
                                                    class="bi bi-file-code icon-feature text-gradient d-block mb-3"></i></a>
                                            <h3 class="font-alt" style="text-decoration-line: none;">Templates</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-5">
                                        <div class="text-center">
                                            <a (click)="changeTab('pdfs')"> <i
                                                    class="bi bi-file-earmark-medical icon-feature text-gradient d-block mb-3"></i></a>
                                            <h3 class="font-alt"></h3>
                                            <h3 class="font-alt">PDF</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-5">
                                        <div class="text-center">
                                            <a (click)="changeTab('images')"><i
                                                    class="bi bi-card-image icon-feature text-gradient d-block mb-3"></i></a>
                                            <h3 class="font-alt">Images</h3>
                                        </div>
                                    </div>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <br>
    
</div>

<body>
    
</body>