<div class="container">
  <div class="row align-items-center">
    <div class="col">
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal">
        New citizen form <i class="bi bi-bookmark"></i>
      </button>
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">New citizen</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body text-left">
              <form [formGroup]="form">
                <p class="mb-0 mt-2">Name</p>
                <div class="input-group">
                  <input formControlName="name" type="text" class="form-control"> <br>
                </div>
                <p class="mb-0 mt-2">SSN</p>
                <div class="input-group">
                  <input formControlName="ssn" type="text" class="form-control"> <br>
                </div>
                <p class="mb-0 mt-2">Address</p>
                <div class="input-group">
                  <input formControlName="address" type="text" class="form-control"> <br>
                </div>
                <p class="mb-0 mt-2">Group</p>
                <select formControlName="group" class="form-select" aria-label="Default select example">
                  <option value="1">Accountant</option>
                  <option value="2">Writer</option>
                  <option value="3">Developer</option>
                </select>
              </form>
              <button (click)="save()" type="button" class="btn btn-success mt-3">Save <i
                  class="bi bi-save"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
      <app-results [temporal]="temporal"></app-results>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
