<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-2"><a routerLink="/plantilla"><button class="btn btn-primary rounded-pill"> New </button></a>
        </div>

    </div>
    <br>
    <div class="card">
        <div class="card-body" *ngIf="templ!=null else espera" style="overflow-x: auto;">
            <table class="table table-striped  " id="tb">
                <thead>
                    <tr style="background-color: rgb(173, 205, 234);">
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Date</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let t of templ">
                        <th scope="row" style="background-color: rgb(173, 205, 234);">{{t.id}}</th>
                        <td>{{t.titulo}}</td>
                        <td>{{t.fechaCreacion}}</td>
                        <td>
                            <button (click)="setModalId(t.id)" type="button" class="btn btn-success"><i class="bi bi-eye-fill"></i></button>
                            <button type="button" class="btn btn-warning" routerLink="/pdf/{{t.id}}">Use</button>
                            <button type="button" class="btn btn-danger" (click)="deleteTemplate(t.id)"><i
                                    class="bi bi-trash3-fill"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br><br>
</div>

<div class="modal fade bd-example-modal-lg" id="itemPreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="itemPreview">Template Preview</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div *ngFor="let item of items">
                    <p *ngIf="item.type == 'h1' || item.type == 'h2' || item.type == 'h3' || item.type == 'h4'" class="{{item.type}}">
                        {{item.text}}</p>
                    <img *ngIf="item.type == 'img'" src="{{item.content}}" class="w-100">
                    <a *ngIf="item.type == 'enlace'" href="{{item.content}}">{{item.text}}</a>
                    <div class="{{item.type}}" *ngIf="item.type == 'espacio' || item.type == 'linea'">
                        <hr *ngIf="item.type == 'linea'">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<ng-template #espera>Loading Templates ....</ng-template>