<div class="container-fluid">
    <br>
    <div style="text-align: center;">
        <h1>About Us</h1>
    </div>
   
    <br>
    <div class="card text-center background">
       
        <div class="card-body">
            <div class="row">
                <div class="card" style="width: 18rem; margin: 10% auto;">
                    <img src="https://easytemplates.s3.eu-west-3.amazonaws.com/adriamilan.jpeg" class="rounded-circle" alt="Foto Adriá Milan" style="width:auto ; height:auto; margin-top: 10%;">
                    <div class="card-body">
                        <h5 class="card-title">Adriá Milan</h5>
                        <p class="card-text">Full Stack Developer.<br><br>
                            adria4milan@gmail.com<br>
                            <a href="https://www.linkedin.com/in/adriamilan/"><i class="bi bi-linkedin" style="color:blue ;"></i></a>&nbsp;&nbsp;<a href="https://github.com/adriamilan-bootcamp"><i class="bi bi-github" style="color:black"></i></a>
                            <br>635929967</p>

                    </div>
                </div>
                <div class="card" style="width: 18rem; margin: 10% auto; ">
                    <img src="https://easytemplates.s3.eu-west-3.amazonaws.com/ione.png" class="rounded-circle" alt="Foto Ionela Vladasel" style="width:auto ; height:auto; margin-top: 8%;">
                    <div class="card-body">
                        <h5 class="card-title">Ionela Vladasel</h5>
                        <p class="card-text">Full Stack Developer.<br><br>
                            ionela_vladasel@yahoo.es<br>
                            <a href="www.linkedin.com/in/ionela-vladasel"><i class="bi bi-linkedin" style="color:blue ;"></i></a>&nbsp;&nbsp;<a href="https://github.com/vladasel"><i class="bi bi-github" style="color:black"></i></a>
                            <br>661597099</p>

                    </div>
                </div>
                <div class="card" style="width: 18rem; margin: 10% auto;">
                    <img src="https://easytemplates.s3.eu-west-3.amazonaws.com/joelbueno.png" class="rounded-circle" alt="Foto Joel Bueno" style="width:auto ; height:auto;">
                    <div class="card-body">
                        <h5 class="card-title">Joel Bueno</h5>
                        <p class="card-text">Full Stack Developer.<br><br>
                            buenocalvachejoel@gmail.com<br>
                            <a href="https://www.linkedin.com/in/joel-bueno-calvache/"><i class="bi bi-linkedin" style="color:blue ;"></i></a>&nbsp;&nbsp;<a href="https://github.com/cakehonolulu"><i class="bi bi-github" style="color:black"></i></a>
                            <br>674425743</p>

                    </div>
                </div>

            </div>
        </div>

    </div>

</div>