<div class="container">

    <br>
    <br>
    <div class="card">
        <div class="card-body">
            <!-- Name input-->
            <label for="name" class="form-label" style="font-weight:bold ;">Username</label>
            <div class="form-floating mb-3">
                <input class="form-control" id="username" type="text" placeholder="Enter your name..."
                    data-sb-validations="required" value="{{user?.username}}" />

                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
            </div>
            <!-- Email address input-->
            <label for="email" class="form-label" style="font-weight:bold ;">Email address</label>
            <div class="form-floating mb-3">
                <input class="form-control" name="email" id="email" type="email" placeholder="name@example.com"
                    data-sb-validations="required,email" value="{{user?.email}}" required [(ngModel)]="userInfo.email"
                    id="email" required #email="ngModel" />
            </div>
            <label for="rol" class="form-label" style="font-weight:bold ;">Role</label>
            <div class="form-floating mb-3">
                <input class="form-control" id="rol" type="text" data-sb-validations="required" value="{{user?.roles}}"
                    readonly />

            </div>


            <label for="password" class="form-label" style="font-weight:bold ;">Password</label>
            <div class="form-floating mb-3">
                <input class="form-control" id="password" type="password" placeholder="New Password"
                    data-sb-validations="required"/>
                <div class="invalid-feedback" data-sb-feedback="password:required" required minlength="4">A password is
                    required.</div>
            </div>
            <!--
            <label for="password" class="form-label" style="font-weight:bold ;">Confirm Password</label>
            <div class="form-floating mb-3">
                <input class="form-control" id="passwordConfirm" type="password" placeholder="Confirm New Password"
                    data-sb-validations="required" />
                <div class="invalid-feedback" data-sb-feedback="password:required" >A password is
                    required.</div>
            </div>
            -->
            <br>
            <button class="btn btn-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#modify_profile"
                (click)="update();">
                Modify </button>
        </div>
    </div>

</div>
<br>
