
@media only screen and (max-width: 768px) {
    .mb-w-100 {
        width: 100% !important;
    }
    .mb-btn {
        margin-top: 10px !important;
        text-align: center !important;
    }
    .mb-flx-dr {
        flex-direction: row-reverse;
    }
    .mb-img-btn {
        flex-direction: row-reverse;
        margin-top: 10px;
    }
}

.m-0-auto {
    margin: 0 auto;
}

.border-w-3 {
    border-width: 3px !important;
}

.border-item {
    border: 3px solid lightgrey;
    border-style: dashed;
}

.btn-item {
    width: 100%;
    background-color: white;
}

.btn-item:hover {
    background-color: #fafbfc;
}

.linea, .espacio {
    height: 75px;
}

.text-lightgrey {
    color: lightgray;
}

.h4 {
    font-weight: 500;
    font-size: 18px;
    text-align: justify;
}

.espacio, .linea {
    padding-top: 15px;
    padding-bottom: 15px;
}