<app-top-admin></app-top-admin>
<app-nav-admin></app-nav-admin>
<div class="container">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-gradient-primary-to-secondary p-4">
                <h5 class="modal-title font-alt text-white" id="languageModelLabel">Log out</h5>
                <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal"
                    aria-label="Close" (click)="back();"></button>
            </div>
            <div class="modal-body border-0 p-4">
                <form id="contactForm">
                    <p>Are you sure you want to go out?</p>
                    <br>
                    <div class="d-grid gap-2">
                        <button class="btn btn-info rounded-pill" type="button" (click)="logout();">Yes</button>

                        <button class="btn btn-secondary rounded-pill" type="button" (click)="back();">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>