<footer class="bg-black text-center py-5">
  <div class="container px-5">
      <div class="text-white-50 small">
          <div class="mb-2">&copy; EasyTemplates 2022. All Rights Reserved.</div>
          <a routerLink="contact">Contact</a>
          <!-- -> COMPONENT DEL MODEL WELCOME (una página con nuestras fotos, nombres e info de  contacto)-->
          <span class="mx-1">&middot;</span>
          <a data-bs-toggle="modal" data-bs-target="#cookies">Cookies</a>
          <!-- -> COMPONENT DEL MODEL WELCOME (opcional ponemos una pag o lo dejamos para futras impl )-->
          <span class="mx-1">&middot;</span>
          <a data-bs-toggle="modal" data-bs-target="#privacy">Privacy</a>
          <!-- -> COMPONENT DEL MODEL WELCOME (opcional ponemos una pag o lo dejamos para futras impl )-->
          <span class="mx-1">&middot;</span>
          <a data-bs-toggle="modal" data-bs-target="#legal">Legal Notice</a>
          <!-- -> COMPONENT DEL MODEL WELCOME (opcional ponemos una pag o lo dejamos para futras impl )-->
          <span class="mx-1">&middot;</span>
          <a>FAQ</a><!-- futuras impl-->
      </div>
  </div>
</footer>

<!-- Modal cookies -->
<div class="modal fade" id="cookies" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cookies</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <embed src="https://easytemplates.s3.eu-west-3.amazonaws.com/Cookies.pdf" frameborder="0" width="100%" height="400px">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

<!-- Modal privacy -->
<div class="modal fade" id="privacy" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Privacy</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <embed src="https://easytemplates.s3.eu-west-3.amazonaws.com/Privacy.pdf" frameborder="0" width="100%" height="400px">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>


<!-- Modal legal -->
<div class="modal fade" id="legal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Legal Notice</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <embed src="https://easytemplates.s3.eu-west-3.amazonaws.com/Legal.pdf" frameborder="0" width="100%" height="400px">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>

