<app-top-admin></app-top-admin>

<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="mb-5 mb-lg-0 text-center text-lg-start">

                </div>
            </div>
        </div>
    </div>
</header>
<br><br>
<div class="container">
    <div class="card background">
        <i class="bi bi-arrow-left-circle-fill" style="color:blue; margin:15px 0px 0px 15px; font-size: 25px;"
            (click)="goBackTemplates();"></i>
        <div class="card-body">
            <div class="container mt-5 mb-5 m-0-auto">
                <div class="w-75 border-w-3 m-0-auto p-5 border border-light rounded mb-container" style="background-color: white; ">
                    <h1>{{titulo}}</h1>
                    <div *ngFor="let item of items">

                        <button (mouseenter)="showMethods(item.id)"
                            class="btn-item mt-3 p-3 border-item rounded border-w-3 border-dotted">
                            <div class="row">
                                <div class="col-md-8 d-flex" style="align-items: center;">
                                    <p *ngIf="item.type == 'h1' || item.type == 'h2' || item.type == 'h3' || item.type == 'h4'"
                                        class="{{item.type}} mb-0">{{item.text}}</p>
                                        <img style="width: {{item.width}}%;" id="img{{item.id}}" *ngIf="item.type == 'img'" src="{{item.content}}">
                                    <div *ngIf="item.type == 'espacio' || item.type == 'linea'" class="pt-1 pb-1">
                                        <p class="h4 mb-0">{{item.text}} <i *ngIf="item.type == 'espacio'"
                                                class="bi bi-arrow-down-up"></i><i *ngIf="item.type == 'linea'"
                                                class="bi bi-arrows-expand"></i></p>
                                    </div>
                                    <p *ngIf="item.type == 'firma' || item.type == 'enlace'" class="h4 mb-0">
                                        {{item.text}} <i *ngIf="item.type == 'firma'" class="bi bi-pencil-square"></i>
                                        <i *ngIf="item.type == 'enlace'" class="bi bi-link"></i>
                                    </p>
                                </div>
                                <div *ngIf="item.editvisible" class="col-md-4 d-flex text-right mb-img-btns mb-img-top"
                                    style="align-items: center; justify-content: flex-end">
                                    <div class="row">

                                    </div>
                                    <button (click)="deleteItem(item.id)" class="btn btn-danger mx-1"><i
                                            class="bi bi-trash"></i></button>
                                    <button (click)="upItem(item.id)" class="btn btn-dark mx-1"><i
                                            class="bi bi-arrow-up-square"></i></button>
                                    <button (click)="downItem(item.id)" class="btn btn-dark mx-1"><i
                                            class="bi bi-arrow-down-square"></i></button>
                                </div>


                            </div>
                            <div *ngIf="item.editvisible && item.type != 'espacio' && item.type != 'linea' && item.type != 'firma'"
                                class="row mt-2">
                                <div class="col-md-8 mb-img-btns mb-sizer">
                                    <div>
                                        <div class="input-group d-flex mb-img-btns" style="align-items: center;">
                                            <input
                                                *ngIf="item.type != 'img' && item.type != 'h4' && item.type != 'enlace'"
                                                id="content{{item.id}}" class="form-control" type="text">
                                            <textarea *ngIf="item.type == 'h4'" id="content{{item.id}}" class="w-100"
                                                cols="30" rows="5"></textarea>
                                            <div *ngIf="item.type == 'img'">
                                                <div>
                                                    <p class="text-left f-left">Image Sizer</p>
                                                    <input class="form-range f-left" value="{{item.width}}" type="range" min="20" max="100" id="range{{item.id}}" (change)="imageSizer(item.id)">
                                                </div>
                                            </div>
                                            <div *ngIf="item.type == 'enlace'">
                                                <div class="input-group">
                                                    <input type="text" class="form-control w-100 mb-1"
                                                        placeholder="Contenido" id="content">
                                                    <input type="text" class="form-control w-100 mt-1"
                                                        placeholder="Enlace" id="enlace">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex mb-img-btns" style="align-items: center; justify-content: flex-end">
                                    <div class="d-grid">
                                        <div *ngIf="item.editvisible && item.type=='img'">
                                            <button class="btn btn-dark mx-1" data-bs-toggle="modal"
                                                data-bs-target="#misImagenes" (click)="myImages(); passId(item.id);"><i
                                                    class="bi bi-images"></i></button>
                                            <button class="btn btn-dark mx-1" data-bs-toggle="modal"
                                                data-bs-target="#subirImagen" (click)=" passId(item.id);"><i
                                                    class="bi bi-upload"></i></button>

                                        </div>
                                        <br>
                                        <button *ngIf="item.type != 'img'" (click)="saveContent(item.id)"
                                            class="btn btn-success btn-block">Edit<i
                                                class="bi bi-pencil-square"></i></button>

                                    </div>
                                </div>
                            </div>
                        </button>

                        <div *ngIf="item.text == 'text'"
                            class="mt-3 p-3 border-item rounded border-w-3 border-dotted row">
                            <div class="col-md-8 d-flex" style="align-items: center; justify-content: flex-end">
                                <p class="{{item.type}} mb-0">{{item.text}}</p>as
                            </div>
                            <div class="col-md-4 d-flex text-right"
                                style="align-items: center; justify-content: flex-end">
                                <button (click)="deleteItem(item.id)" class="btn btn-danger mx-1"><i
                                        class="bi bi-trash"></i></button>
                                <button (click)="upItem(item.id)" class="btn btn-dark mx-1"><i
                                        class="bi bi-arrow-up-square"></i></button>
                                <button (click)="downItem(item.id)" class="btn btn-dark mx-1"><i
                                        class="bi bi-arrow-down-square"></i></button>
                            </div>
                        </div>

                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div *ngIf="!addItem; else addItemView" class="d-grid mt-3">
                                <button (click)="itemView()" type="button" class="btn btn-dark btn-block">Add Item <i
                                        class="bi bi-plus-circle-dotted"></i></button>
                            </div>
                            <div>
                            </div>
                            <ng-template #addItemView>
                                <div class="d-grid mt-3">
                                    <button (click)="itemView()" type="button" class="btn btn-dark btn-block">Cancel
                                        <i class="bi bi-x-lg"></i></button>
                                </div>
                                <div class="mt-3 container border border-light border-w-3 rounded p-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="d-grid">
                                                <button (click)="addTitle()" type="button"
                                                    class="btn btn-primary btn-block h-auto">Title
                                                    <i class="bi bi-type-h1"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-grid">
                                                <button (click)="addSubtitle()" type="button"
                                                    class="btn btn-primary btn-block mb-mt">Subtitle <i
                                                        class="bi bi-type-h2"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-grid">
                                                <button (click)="addSubtitle2()" type="button"
                                                    class="btn btn-primary btn-block mb-mt">Subtitle 2
                                                    <i class="bi bi-type-h3"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-4">
                                            <div class="d-grid">
                                                <button (click)="addText()" type="button"
                                                    class="btn btn-primary btn-block">Text <i
                                                        class="bi bi-body-text"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-grid">
                                                <button (click)="addEspacioBlanco()" type="button"
                                                    class="btn btn-primary btn-block mb-mt">Empty space<i
                                                        class="bi bi-arrow-down-up"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-grid">
                                                <button (click)="addEspacioLinea()" type="button"
                                                    class="btn btn-primary btn-block mb-mt">Line space <i
                                                        class="bi bi-arrows-expand"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-4">
                                            <div class="d-grid">
                                                <button (click)="addImage()" type="button"
                                                    class="btn btn-primary btn-block">Image <i
                                                        class="bi bi-images"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-grid">
                                                <button (click)="addEnlace()" type="button"
                                                    class="btn btn-primary btn-block mb-mt">Link <i
                                                        class="bi bi-link"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-grid">
                                                <button (click)="addFirma()" type="button"
                                                    class="btn btn-primary btn-block mb-mt">Signature <i
                                                        class="bi bi-pencil-square"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>


                </div>

                <div class="w-75 container mt-3 mb-w-100">
                    <div class="d-grid">
                        <button class="btn btn-success btn-block" data-bs-toggle="modal"
                            data-bs-target="#createTemplateModal">Create Template <i
                                class="bi bi-filetype-pdf"></i></button>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <br><br>
</div>

<!-- Modal misImagenes-->
<div class="modal fade" id="misImagenes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Choose Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card" style="width:100% ;height: 200px; overflow-y: scroll;">
                    <div class="card-body">
                        <div class="row row-cols-1 row-cols-md-4 g-4" *ngIf="imgs!=null else espera">
                            <div class="col" *ngFor="let i of imgs">
                                <div class="card">
                                    <button (click)="setImage(i.src);"> <img src={{i.src}} class="card-img-top w-100"
                                            style="width:100% ; height:50px; object-fit: contain;" alt="...">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Use Image</button>
            </div>
        </div>
    </div>
</div>

<ng-template #espera> Loading images....</ng-template>
<div class="modal fade" id="createTemplateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Template</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="h4 text-left">Give your template a name.</p>
                <div class="input-group">
                    <input id="inputNameTemplate" type="text" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button (click)="saveTemplate()" type="button" class="btn btn-primary" data-bs-dismiss="modal">Create
                    Template </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal subirImagen-->
<div class="modal fade" id="subirImagen" tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Upload Image
            </h5>
            <button type="button" class="btn-close"
                data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-group mt-3">
                <label class="mr-2">Upload your image:</label>
                <br>
                <input #imageInput type="file" accept="image/*"
                    (change)="processFile(imageInput)"
                    id="inputImg">
            </div>
        </div>
        <p class="font-italic text-white text-center">The image uploaded
            will be rendered inside the box below.
        </p>
        <div class="image-area mt-4"><img id="imageResult" src="#"
                alt=""
                class="img-fluid rounded shadow-sm mx-auto d-block">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary"
                data-bs-dismiss="modal">Save
                changes</button>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Amazon S3 Upload</h4>
    </div>
    <div class="modal-body">
        <div *ngIf="!finished" class="d-flex flex-column align-items-center justify-content-center">
            <div class="row">
                <div class="spinner-border text-warning" role="status"></div>
             </div>
             <div class="row">
               <strong>Uploading...</strong>
             </div>
        </div>
        <div *ngIf="finished" class="d-flex align-items-center">
            <div class="swal2-icon swal2-success swal2-animate-success-icon">
                <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                  <span class="swal2-success-line-tip"></span>
                  <span class="swal2-success-line-long"></span>
                  <div class="swal2-success-ring"></div> 
                  <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                  <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
                 </div>
        </div>
        <div *ngIf="modalError" class="d-flex align-items-center">
            <div class="swal2-icon swal2-error swal2-animate-error-icon" style="display: flex;"><span class="swal2-x-mark"><span class="swal2-x-mark-line-left"></span><span class="swal2-x-mark-line-right"></span></span></div>
        </div>
    </div>
  </ng-template>

<ng-template #espera>Loading images ....</ng-template>

</div>
