@media only screen and (max-width: 768px) {
    .mb-container {
        width: 100% !important;
        padding: 0.5rem !important;
    }
    .mb-w-100 {
        width: 100% !important;
    }
    .mb-mt {
        margin-top: 1rem;
    }
    .mb-img-btns {
        flex-direction: row-reverse;
        justify-content: flex-end;
        display: flex !important;
    }
    .mb-img-top {
        margin-top: 10px;
    }
    .mb-sizer {
        width: 100% !important;
    }
}

.m-0-auto {
    margin: 0 auto;
}

.border-w-3 {
    border-width: 3px !important;
}

.border-item {
    border: 3px solid lightgrey;
    border-style: dashed;
}

.btn-item {
    width: 100%;
    background-color: white;
}

.btn-item:hover {
    background-color: #fafbfc;
}

.h4 {
    font-weight: 500;
    font-size: 18px;
    text-align: justify;
}