<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <h1 class="ml-5 mr-5" style="text-align: center; margin-right: 1rem; margin-left: 1rem; margin-bottom: 2rem;">Rick and Morty Angular Application!</h1>


    <h3 style="text-align: center; margin-right: 1rem; margin-left: 1rem; margin-bottom: 2rem; font-weight: lighter">🚀 Features</h3>
    <br><br><br><br>


    <h4 style="text-align: center; margin-right: 1rem; margin-left: 1rem; font-weight: lighter;">* Custom JSON Server Database</h4>
    <h4 style="text-align: center; margin-right: 1rem; margin-left: 1rem; font-weight: lighter;">* (JSON Web Token)-based Stateless Authentication</h4>
    <h4 style="text-align: center; margin-right: 1rem; margin-left: 1rem; font-weight: lighter;">* Roles system (User, administrator...)</h4>
    <h4 style="text-align: center; margin-right: 1rem; margin-left: 1rem; font-weight: lighter; margin-bottom: 2rem; ">* Endpoint protection</h4>

    <br><br><br><br>
    <p style="text-align: center; margin-right: 1rem; margin-left: 1rem; font-weight: lighter">
        Made with 🤍 using <a href="https://angular.io/">Angular</a>, <a href="https://getbootstrap.com/">Bootstrap</a>
        and <a href="https://rickandmortyapi.com/">the Rick and Morty API</a>
    </p>

    <br><br><br><br>
    <p style="text-align: center; margin-right: 1rem; margin-left: 1rem; font-weight: lighter">- <a href="https://github.com/cakehonolulu">Joel Bueno (2022)</a></p>


</div>