<app-top-beginning></app-top-beginning>
<app-nav-beginning></app-nav-beginning>

<div class="container">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-gradient-primary-to-secondary p-4">
                    <h5 class="modal-title font-alt text-white" id="languageModelLabel">Language</h5>
                    <button class="btn-close btn-close-white" type="button" (click)="return()" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body border-0 p-4">
                    <form id="contactForm">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                Castellano
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Català
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                English
                            </label>
                        </div>
      
                        <br>
                        <div class="d-grid"><button class="btn btn-primary rounded-pill btn-lg enabled"
                                id="submitButton" type="submit">Select</button></div>
                    </form>
                </div>
            </div>
        </div>
    
</div>


